.carousel {
  position: relative;
  overflow: hidden;
}

.carousel-item {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
  position: absolute;
  width: 100%;
}

.carousel-item.active {
  opacity: 1;
  visibility: visible;
  position: relative;
}
