.carousel-item {
  display: none;
  position: relative;
}

.carousel-item.active {
  display: block;
}

/* Prevenir selección de texto durante el arrastre */
.cursor-ew-resize {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}